.animate-name-loading {
  animation: nameLoading 1.8s ease-in-out infinite;
}

@keyframes nameLoading {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(-100%);
  }
}